.blog {
    padding: 0 16px;
  
    &__header {
      background-size: cover;
      background-position: center;
      text-align: center;
      padding: 100px 0;
    //   color: white;
  
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 16px;
      }
  
      .breadcrumb {
        font-size: 16px;
        margin-bottom: 10px;
      }
  
      .blog__title {
        font-size: 48px;
        font-weight: bold;
        margin: 0;
      }
  
      .blog__subtitle {
        font-size: 24px;
        margin-top: 10px;
      }
    }
  
    &__products {
      padding: 50px 0;
  
      &__header {
        padding-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .sorts {
          width: 15%;
  
          .demo-simple-select {
            max-width: 200px;
          }
        }
      }
  
      &__list {
        display: flex;
        flex-direction: column;
  
        .blog__products__btn {
          padding: 10px 15px;
          background: black;
          color: white;
          border: 1px solid black;
          border-radius: 20px;
          font-size: 18px;
          margin: 0 auto;
          min-width: 120px;
          min-height: 40px;
          transition: 0.3s;
          margin-bottom: 50px;
  
          &:hover {
            background: white;
            color: black;
          }
        }
      }
    }
  
    @media (max-width: 660px) {
      .sorts {
        width: 40% !important;
  
        .demo-simple-select {
          max-width: 200px;
        }
      }
  
      .blog__products__header {
        flex-direction: column;
        gap: 40px;
  
        .sorts {
          width: 100% !important;
        }
      }
    }
  }
  