.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 10px !important;
  
    .image-slider {
      position: relative;
      width: 100%;
      height: 100%;
      
      .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: white;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: rgb(99, 94, 94);
        padding: 10px;
        border-radius: 50%;
        user-select: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        &.left-arrow {
          left: 20px;
        }
  
        &.right-arrow {
          right: 20px;
        }
      }
    }
  
    .dots {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
  
      .dot {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &.active {
          background-color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  