.Newsletter {
  background: url(../../assets/n1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  margin: 20px auto 0;
  display: grid;
  place-items: center;

  &__content {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
  }

  &__title {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: #141718;
  }

  &__desc {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    color: #141718;
  }

  &__form {
    min-width: 500px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  &__inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__icon {
    position: absolute;
    left: 10px;
    color: gray;
    font-size: 20px;
  }

  &__input {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: transparent;
    padding: 8px 8px 8px 32px;
    width: 100%;
    max-width: 300px;
  }

  &__button {
    border: none;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
  }

  &__image {
    display: none; 
  }

  @media (max-width: 400px) {
    &__title {
      font-size: 30px;
    }

    &__desc {
      font-size: 16px;
    }
    input{
      max-width: 350px !important;
    }
  }
}
