.products-section {
  padding-top: 30px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &__title {
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-weight: 500;
      color: #141718;
    }

    &__description {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #141718;
      display: flex;
      align-items: center;
      gap: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-clamp: 1;
      overflow: hidden;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media (max-width: 1070px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }

  &__card {
    background-color: #fff;
    overflow: hidden;
    transition: 0.5s;
    position: relative;

    &.skeleton {
      .products-section__card__image-container {
        .skeleton-image {
          width: 100%;
          height: 180px;
          background-color: #e0e0e0;
          position: relative;
          overflow: hidden;
          background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
          background-size: 200% 100%;
          animation: shimmer 1.5s infinite;
        }
      }

      .products-section__card__info {
        .skeleton-title, .skeleton-price {
          height: 20px;
          background-color: #e0e0e0;
          margin-top: 10px;
          position: relative;
          background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
          background-size: 200% 100%;
          animation: shimmer 1.5s infinite;
        }
        
        .skeleton-title {
          width: 80%;
        }

        .skeleton-price {
          width: 50%;
        }
      }
    }

    &:hover {
      .products-section__card__icons {
        opacity: 1;
      }
    }

    &__image-container {
      position: relative;
      background-color: #f9f9f9;
      padding: 60px 15px;

      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
      }

      &__badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: #38cb89;
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 700;
      }
    }

    &__icons {
      display: flex;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      gap: 15px;
      transition: opacity 0.3s ease-in-out;
      opacity: 0;

      .icon {
        background: white;
        border-radius: 50%;
        padding: 5px;
        font-size: 30px;
        color: #007bff;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .icon.filled {
        color: #e74c3c;
      }
    }

    &__info {
      padding: 15px;

      &__title {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #141718;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        line-clamp: 1;
        overflow: hidden;
      }

      &__price {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 600;
        color: #141718;
      }

      &__rating {
        display: flex;
        gap: 2px;

        .star {
          color: #ffc107;
        }
      }
    }
  }

  .see-more-button {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #141718;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #007bff;
    }
  }
}

.cart-notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  align-items: center;
  z-index: 1000;
  width: 45%;
  justify-content: space-between;
  text-align: left;
  opacity: 1; /* Ensure it is fully visible */
  transition: opacity 0.3s ease-in-out; /* Optional: smooth fade-in/fade-out */
  
  .notification-info {
    flex: 1;
    margin-left: 16px;

    p {
      margin: 0;
    }

    p:first-child {
      font-weight: bold;
    }
  }

  .cart-notification-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
