.intro-title {
  margin-top: 30px !important;
  font-size: 78px;
  line-height: 75px;
  font-weight: 500;
  max-width: 500px;
}

.intro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.intro-description {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  max-width: 424px;
  color: #6c7275;
}

.intro .room {
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }

  &__card {
    margin-top: 30px !important;
    padding: 20px;
    min-height: 350px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }

  &__card__info {
    padding: 20px;
    border-radius: 10px;
  }

  &__card--1 {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  &__card--2,
  &__card--3 {
    flex-direction: column-reverse;
    align-items: flex-start;
    grid-column: 2;
  }

  &__card--2 {
    grid-row: 1;
  }

  &__card--3 {
    grid-row: 2;
  }

  @media (max-width: 950px) {
    &__cards {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 20px;
    }

    &__card {
      height: 250px;
    }

    &__card--1,
    &__card--2,
    &__card--3 {
      grid-column: 1;
      grid-row: auto;
    }
  }

  h3 {
    font-family: Poppins;
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.6px;
    text-align: left;
    //   color: #fff;
  }

  p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.4px;
    text-align: left;
    //   color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-button {
    color: white;
    text-decoration: none;
    //   background: #141718;
    padding: 10px 20px;
    border-radius: 5px;
  }
}

h3 {
  font-weight: 500;
  font-size: 34px;
  line-height: 38px;
  margin-bottom: 5px;
}
